.about-content {
    display: flex;
    margin: 0 10em;
    height: 60vh;
}

.about-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 7.5em;
    color: var(--black-primary-color);
}

.about-text-title {
    font-size: 2em;
    padding-bottom: .5em;
}

.about-text-desc {
    font-size: 1.5em;
    width: 90%;
}

.about-content-correction-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.about-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.picture-frame {
    display: flex;
    justify-content: center;
    width: 20em;
    height: 20em;
    border: 1px solid var(--black-primary-color);
    border-radius: 3em;
    background-color: var(--accent-primary-color);
}

.profile-picture {
    width: 80%;
    height: 100%;
}