:root {
    --black-primary-color: #1E2022;
    --black-secondary-color: #1A1A1A;
    --white-primary-color: #F0F5F9;
    --accent-primary-color: #FFBF00;
    --accent-secondary-color: #FFD966;
}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans;
}

body {
    background: var(--black-primary-color);
    width: 100%;
}

.main-content-wrapper {
    margin: 0 10em;
}

.accent-words {
    color: var(--accent-primary-color);
}

.about-content-wrapper {
    background-color: var(--black-secondary-color);
    height: 60vh;
}

.skills-content-wrapper {
    background: linear-gradient(0deg, var(--black-secondary-color) 35%, var(--black-primary-color) 0%);
}

.education-content-wrapper,
.skills-content-wrapper,
.workflow-content-wrapper,
.contact-content-wrapper,
.footer-content {
    padding: 0 10em;
}