.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 7.9em;
    height: 100vh;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
}

.home-content-text {
    color: var(--white-primary-color);
}

.home-subtitle {
    font-size: 2.6em;
}

.home-title {
    font-size: 4em;
}

.home-desc {
    font-size: 2em;
    width: 30%;
}

.home-contact-button {
    font-size: 1.5em;
    text-decoration: none;
    color: var(--black-primary-color);
    background-color: var(--accent-secondary-color);
    border-radius: 2em;
    margin-top: .3em;
    padding: .3em;
    width: 6em;
}

.home-contact-button:hover {
    background-color: var(--accent-primary-color);
    transition: ease-in .3s;
}