.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5em 5em;
    z-index: 10000;
    transition: 0.6s;
}

.switch-language-text {
    font-size: 1.5em;
    color: var(--white-primary-color);
}

.nav-bar {
    display: flex;
    min-width: 50%;
    justify-content: space-between;
}

.nav-bar-buttons {
    font-size: 1.5em;
    padding: 0 1.5em;
    text-decoration: none;
    color: var(--white-primary-color);
}

.nav-bar-buttons:hover {
    color: var(--accent-primary-color);
    transition: ease-in .2s;
}

.nav.hidden,
.nav.hidden .nav-bar-buttons,
.nav.hidden .switch-language-text {
    visibility: hidden;
}

.sticky {
    background-color: var(--white-primary-color);
}

.nav.sticky .nav-bar-buttons, 
.nav.sticky .switch-language-text {
    color: var(--black-primary-color);
}

.nav.sticky .nav-bar-buttons:hover, 
.nav.sticky .switch-language-text:hover {
    color: var(--accent-primary-color);
}