.skills-content {
    height: 100vh;
}

.skills-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 15%;
}

.skills-header-title {
    font-size: 3em;
    color: var(--white-primary-color);
}

.skills-main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0em 15em;
    height: 85%;
}

.skills-main-card {
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 70%;
    background-color: var(--white-primary-color);
    border: .5px solid var(--white-primary-color);
    border-radius: 2em;
}

.skills-card-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 25%;
}

.skills-card-title {
    color: var(--black-primary-color);
    font-size: 1.5em;
}

.skills-card-split-line {
    align-self: center;
    opacity: 50%;
    width: 60%;
}

.skills-card-content-wrapper {
    height: 75%;
}