:root {
    --black-primary-color: #1E2022;
    --white-primary-color: #F0F5F9;
    --white-secondary-color: #C9D6DF;
    --accent-primary-color: #52616B;
    --accent-secondary-color: #97A0A6;
}

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans;
}

body {
    background-color: var(--black-primary-color);
    width: 100%;
}

.main-content-wrapper {
    margin: 0 10em;
}

.accent-words {
    color: var(--accent-primary-color);
}

.about-content-wrapper {
    background-color: var(--accent-secondary-color);
    height: 60vh;
}

.education-content-wrapper,
.skills-content-wrapper {
    margin: 0 10em;
}

/* Skills */

.skills-content {
    height: 100vh;
}

.skills-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 15%;
}

.skills-header-title {
    font-size: 3em;
    color: var(--white-primary-color);
}

.skills-main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85%;
}

.skills-main-card {
    display: flex;
    flex-direction: column;
    width: 30em;
    height: 90%;
    background-color: var(--accent-secondary-color);
    border: .5px solid var(--white-primary-color);
    border-radius: 5em;
}

.skills-card-title-wrapper {
    height: 25%;
}

.skills-card-split-line {
    align-self: center;
    opacity: 50%;
    width: 60%;
}

.skills-card-content-wrapper {
    height: 75%;
}

/* Education */

.education-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.education-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 15%;
}

.education-header-title {
    font-size: 3em;
    color: var(--white-primary-color);
}

.education-main-content {
    display: flex;
    flex-direction: row;
    height: 70%;
}

.education-main-showcase {
    width: 50%;
    height: 100%;
}

.education-main-split-line{
    border-top: .5px solid var(--white-primary-color);
    height: 60%;
    align-self: center;
    opacity: 10%;
}

.education-main-info {
    width: 50%;
    height: 100%;
}

.education-button-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 15%;
}

.education-button{
    margin: .5em 1em;
    padding: .5em 1em;
    font-size: 1.5em;
    color: var(--white-primary-color);
    text-decoration: none;
}
/* About */

.about-content {
    display: flex;
    margin: 0 10em;
    height: 60vh;
}

.about-text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 7.5em;
    color: var(--black-primary-color);
}

.about-text-title {
    font-size: 2em;
    padding-bottom: .5em;
}

.about-text-desc {
    font-size: 1.5em;
    width: 90%;
}

.about-content-correction-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.about-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.picture-frame {
    display: flex;
    justify-content: center;
    width: 20em;
    height: 20em;
    border: 1px solid var(--black-primary-color);
    border-radius: 3em;
    background-color: var(--accent-primary-color);
}

.profile-picture {
    width: 80%;
    height: 100%;
}

/* Home */

.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 7.9em;
    height: 95vh;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
}

.home-content-text {
    color: var(--white-primary-color);
}

.home-subtitle {
    font-size: 3em;
}

.home-title {
    font-size: 4em;
}

.home-desc {
    font-size: 2em;
    width: 30%;
}

.home-contact-button {
    font-size: 2em;
    text-decoration: none;
    color: var(--white-primary-color);
    background-color: var(--accent-primary-color);
    border-radius: 2em;
    margin-top: .3em;
    padding: .3em;
    width: 6em;
}

/* Navigation */

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5em 5em;
}

.switch-language-text {
    font-size: 1.5em;
    color: var(--white-primary-color);
}

.nav-bar {
    display: flex;
    min-width: 50%;
    justify-content: space-between;
}

.nav-bar-buttons {
    font-size: 1.5em;
    text-decoration: none;
    color: var(--white-primary-color);
}