.workflow-content {
    height: 100vh;
}

.workflow-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 15%;
}

.workflow-header-subtitle{
    font-size: 2em;
    color: var(--white-primary-color);
}

.workflow-header-title {
    font-size: 3em;
    color: var(--white-primary-color);
}

.workflow-main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    height: 85%;
}

.workflow-card-wrapper {
    width: 25em;
    height: 22em;
}

.workflow-card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 95%;
    background-color: var(--white-primary-color);
    border: 1px solid var(--accent-primary-color);
    border-radius: 10%;
}

.workflow-card-main-text {
    color: var(--black-primary-color);
    width: 60%;
    font-size: 1.5em;
    align-self: center;
    text-align: center;
    padding-bottom: 2em;
}

.workflow-card-icon {
    position: relative;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 20%;
    background-color: var(--accent-primary-color);
    border: .5px solid var(--black-primary-color);
    border-radius: 50%;
}